In [1]:
import pandas as pd
import folium

In [5]:
df = pd.read_csv("nasa/arctic_lsat_ndvi_swi_sites.csv")

In [3]:
df.head()

,site,year,latitude,longitude,n.obs.p025,n.obs.p500,n.obs.p975,ndvi.max.p025,ndvi.max.p500,ndvi.max.p975,swi.p025,swi.p500,swi.p975
0,00000000950b35ce9479,1985,67.142942,-104.391464,0.0,0.0,0.0,-9999.000000,-9999.000000,-9999.000000,15.6,21.9,30.5
1,00000000950b35ce9479,1986,67.142942,-104.391464,0.0,0.0,0.0,-9999.000000,-9999.000000,-9999.000000,12.3,17.2,26.5
2,00000000950b35ce9479,1987,67.142942,-104.391464,0.0,0.0,0.0,-9999.000000,-9999.000000,-9999.000000,14.4,20.6,28.5
3,00000000950b35ce9479,1988,67.142942,-104.391464,0.0,0.0,2.0,0.636410,0.659079,0.682337,21.6,27.5,35.8
4,00000000950b35ce9479,1989,67.142942,-104.391464,5.0,5.0,5.0,0.577955,0.601471,0.618760,22.6,28.6,35.0

In [4]:
len(df)

1450688

In [ ]:
df_new = df[df['year']==1985]

In [ ]:
df_new.head()

In [ ]:
m = folium.Map([df_new['latitude'].mean(), df_new['longitude'].mean()])

In [ ]:
for index, row in df_new.iterrows():
    folium.Marker([row['latitude'], row['longitude']], popup=row['swi.p500']).add_to(m)

In [ ]:
m